
.mainScreen{
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.divv1{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
     rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 16px 16px;
     position: relative;
     bottom: 80px;
    
   

}
.amazonLogo{
    height:81px ;
    width: 150px;
    position: relative;
    bottom: 80px;
   
}
.creatediv{
    border: 0.2px solid rgb(188, 187, 187);
    height: 80vh;
    width: 350px;
    position: relative;
    bottom: 60px;
    
}
.create_head1{
    font-size: 25px;
    font-family: sans-serif;
    position: relative;
    top: 20px;
    left: 20px;
    font-weight: bolder;
}
.create{
    height: 35px;
    width: 350px;
    background-color: rgb(220, 223, 228) !important;
    border: 1px solid black !important;
    border-radius: 5px;
   
}

.head2,.head4,.head5,.head6,.head_mobile{
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    top: 20px;
    left: 20px;
    color: black;
    
}
.head6{
    position: relative;
    top: 30px;
}
.name,.mobile,.email,.password {
    height: 30px;
    width: 300px;
    position: relative;
    top: 15px;
    left: 20px;
    border-color:rgb(231, 118, 0);
    border-radius: 5px;
    font-weight:lighter;
}
.para,.para1,.para2{
    font-size: 13px;
    position: relative;
    color: black;
    font-weight:500;
    top: 25px;
    left: 20px;
    margin-right: 30px;
}
.para2{
    top: 45px;
}
.para2 span,.head6 span{
    color: blue;
    cursor: pointer;
    
}

.button_create{
    position: relative;
    height: 30px;
    width:310px;
    left: 20px;
    top: 20px;
    border: 1px solid black  !important;
    color: black !important;
    background-color: rgb(240, 195, 83) !important;
    text-align: center;

}
.divv3{
    width: 110px;
    border: 1px solid black;
    position: relative;
    right: 120px;
    bottom: 20px;
    opacity: 0.3;

}
.divv4{
    width: 110px;
    border: 1px solid black;
    position: relative;
    bottom: 47px;
    left: 120px;
    opacity: 0.3;
}
.footer{
    position: relative;
    top: 20px;
    font-size: 15px;
    
}
.anchor1{
    position: relative;
    right: 50px;
}
.anchor2{
    position: relative;
    right: 10px;
}
.anchor3{
    position: relative;
    left: 30px;
}
.footer2{
    position: relative;
    font-size: 12px;
    top: 20px;
}