*{
    margin:0;
    padding: 0;
    overflow-x: none;
    overflow-y: none;
}
.main-screen{
    height: 900vh;
    width: 98.9vw;
    display: flex;
    flex-direction: column;

}
.main-ctn{
    height: 880vh;
    width: 98.9vw;
    
    position: absolute;
    left: 0px;
    top: 56vh;
    z-index: 2;
    background-color: rgb(227, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    background-color: rgb(173, 170, 170);
    
}

.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12,.div13{
   
    
    display: flex;
    height: 420px ;
    width: 98.8vw;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
   
    
}
.div3,.div4,.div6,.div7,.div8,.div10,.div11,.div13{
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    height: 400px ;
    width: 97vw;
    margin-left: 15px;
    overflow-x:scroll;
    overflow-y: hidden;
    
}
.Api_CTN{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 15px;
    position: relative;
    top: 45px;
}
.i_api_ctn{
    height: 180px;
    width: auto;
    display: flex;
    position: relative;
    bottom: 30px;
    
}
.api_img {
    width: auto;
    height:180px
}
.api_img_text{
    
    display: flex;
    position: relative;
    bottom: 35px;
    height: 39px;
    width: auto;
    font-size: smaller;
    overflow: hidden;
}
.imgprice{
    font-weight: bolder;
    position: relative;
    bottom: 45px;
}

.apibutton_buy{
    height: 25px;
    width: 200px;
    border-radius:5px;
    position: relative;
    bottom: 50px;
    text-align: center;
    line-height: 15px;
    background-color: rgb(248, 220, 130);

}
.apibutton_add{
    height: 25px;
    width: 200px;
    border-radius:5px;
    position: relative;
    bottom: 55px;
    background-color: rgb(255, 215, 83);
}

.i_div1,.i_div2,.i_div3,.i_div4,.i_div_2_1,.i_div_2_2,.i_div_2_3,.i_div_2_4,.i_div_5_1,.i_div_5_2,.i_div_5_3,.i_div_5_3,.i_div_5_4,
.i_div_9_1,.i_div_9_2,.i_div_9_3,.i_div_9_4,.i_div_12_1,.i_div_12_2,.i_div_12_3,.i_div_12_4
{
    width: 350px;
    height: 390px;
    background-color: rgb(255, 255, 255);
    position: relative;


}
.i_div1{
    display: flex;
    flex-direction: column;
}
.i_div1_head,.i_div2_head,.i_div3_head,.i_div4_div1_head,.i_div_2_1_head,.i_div_2_2_head,.i_div_2_3_head,
.i_div_2_4_head,.i_div_3_1_head,.i_div_5_1_head,.i_div_5_2_head,.i_div_5_3_head,.i_div_5_4_head,.i_div_9_1_head,.i_div_9_2_head,
.i_div_9_3_head,.i_div_9_4_head,.i_div_12_1_head,.i_div_12_2_head,.i_div_12_3_head,.i_div_12_4_head{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 10px;
}
.i_div_3_1_head{
    margin-top: 10px;
    width: 300px;
    position: absolute;
    z-index: 1;
}
.i_div_3_1_1_head{
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 170px;
    color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 1;


}

.image1,.image2,.image3,.image4{
    height: 120px;width: 140px;
    cursor: pointer;
    position: relative;
    left: 20px;
}
.image1_1{
    height: 280px;
    width: 300px;
    position: relative;
    left: 26px;
    top: 20px;

}
.image2_1{
    height: 280px;
    width: 300px;
    position: relative;
    left: 26px;
    

}
.caption1{
    position: relative;
    left: 20px;
}
.image2{
    bottom: 140px;
    left: 185px;
}
.caption2{
   position: relative;
   left: 185px;
   bottom: 140px;
    
}
.caption3{
    position: relative;
    bottom: 130px;
    left: 20px;

}
.caption4{
    position: relative;
    bottom: 270px;
    left: 185px;
}
.SeeMore{
    height: 50px;
    width: 100px;
    color: blue;
    position: absolute;
    background:transparent;
    top: 350px;
    left: 250px;
    border: none;
    

}

.SeeMore1{
    height: 50px;
    width: 180px;
    color: blue;
    position: absolute;
    background:transparent;
    top: 350px;
    left: 170px;
    border: none;
}
.image4{
    bottom: 270px;
    left: 185px;
}
.image3{
    bottom: 130px;
}
.i_div4_div1{
    height: 150px;
    width: 350px;
    display: flex;
    margin: 0;
    background-color: white;

}
.sign_in_btn{
    height: 30px;
    width: 320px;
    position: absolute;
    left: 15px;
    top: 80px;
    border-radius: 15px;
    background-color: rgb(255, 215, 83);
    border: none;

}
.i_div4{
    background:none;
}
.i_div4_div1_head{
    margin-left: 2px;
}
.i_div4_img{
    height: 220px;
    width: 250px;
    position: relative;
    left: 45px;
    top: 17px;cursor: pointer;

}
.div14{
    height:150px ;
    width: 97vw;
    margin-left: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
    border: none;
    border-top: 1px solid rgb(186, 183, 183);
    border-bottom: 1px solid rgb(186, 183, 183);

}
.div_14_1_head,.div_14_2_head{
    font-size: 16px;
}
.div_14_login{
background-color: rgb(255, 199, 57);
width: 270px;
height: 30px;
color: black;
font-weight: bolder;
border-radius: 5px;
border: none;
}